<form (ngSubmit)="fnaddMenu()" [formGroup]="menuForm"> 
    <div class="form-group">
      <label for="date">Date:</label>
      <input type="date" id="date" formControlName="date" required> 
      desset<input type="text" name="dessert" id="" formControlName="dessert" required>
      qte<input type="number" name="qte" id="" formControlName="qteDisponible" required>
      supplement<input type="text" name="supplement" id="" formControlName="supplement" required>
      description<input type="text" name="desc" formControlName="descriptionPlat" required>
    </div>
    <button type="submit">Ajouter</button>
  </form>
  
