<div *ngIf="menus && menus.length > 0; else noMenus">
    <h2>Liste des Menus</h2>
    <ul>
      <li *ngFor="let menu of menus">
       
        <p>Date: {{ menu.date}}</p>
        <p>Description : {{menu.descriptionPlat}}</p>
        <p>Dessert :{{menu.dessert}}</p>
        <p>Supplement : {{menu.supplement}}</p>
      </li>
    </ul>
  </div>
  <div >
    <button class="btn btn-custom custom-text" (click)="logout()">sortir</button>
  </div>
  <ng-template #noMenus> 
    <p>Aucun menu trouvé.</p>
  </ng-template>
  